<div class="modal-header">
  <h4 class="modal-title">{{header | translate}}</h4>
  <button type="button" class="close" (click)="activeModal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{content | translate}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="confirmOperation()">{{'yes' | translate}}
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">{{'no' | translate}}
  </button>
</div>
