<div class="container row">
  <div class="col">
     {{'login.welcome' | translate}}
  </div>
  <div class="col">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">{{'login.username' | translate}}</label>
        <input class="form-control" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
        <div *ngIf="f.submitted && !username.valid">{{'login.username' | translate}} is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">{{'login.password' | translate}}</label>
        <input class="form-control" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid">{{'login.password' | translate}} is required</div>
      </div>
      <div>
        <button >Login</button>
      </div>
    </form>
  </div>

</div>
