
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>{{'contact.id' | translate}}</th>
      <th>{{'contact.firstname' | translate}}</th>
      <th>{{'contact.lastname' | translate}}</th>
      <th>{{'contact.address' | translate}}</th>
      <th>{{'contact.email' | translate}}</th>
      <th>{{'contact.phoneNumber' | translate}}</th>
      <th> </th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{contact.contactId}}</td>
      <td>{{contact.firstname}}</td>
      <td>{{contact.lastname}}</td>
      <td>{{contact.address}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phoneNumber}}</td>
      <td>{{contact.skills}}</td>
      <td>{{contact.user}}</td>
    </tr>
    </tbody>
  </table>
</div>
