<nav class="navbar navbar-expand">
  <a class="navbar-brand navbar-brand bg-light" routerLinkActive="active" [routerLink]="['/']">{{'nav.title' | translate}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/contacts']">{{'nav.contacts' | translate}}</a> </li>
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/skills']">{{'nav.skills' | translate}}</a> </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
