<nav class="navbar navbar-expand">
  <a class="navbar-brand navbar-brand bg-light" routerLinkActive="active" [routerLink]="['/']">{{'nav.title' | translate}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/contacts']">{{'nav.contacts' | translate}}</a> </li>
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/skills']">{{'nav.skills' | translate}}</a> </li>
  </ul>
  <div ngbDropdown placement="bottom-right">
    <button class="btn select-text" id="navbarDropdown" role="button" ngbDropdownToggle>
      {{ 'language.en' | translate }}
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button *ngFor="let lang of languages"
              class="dropdown-item"
              (click)="selectLanguage(lang)">
        {{ 'language.' + lang | translate }}
      </button>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
